WANWU_MYSQL_ROOT_PASSWORD=
WANWU_MYSQL_DATABASE=wanwu
WANWU_MYSQL_USER=
WANWU_MYSQL_PASSWORD=
DUBBO_REGISTRY_ADDRESS=nacos://127.0.0.1:8848
WANWU_OPERATE_DATASOURCE_URL=
WANWU_OPERATE_DATASOURCE_USERNAME=root
WANWU_OPERATE_DATASOURCE_PASSWORD=
